template(name="ChatInput")
  form(class='pure-form' id='usernameForm')
    input(id='usernameInput' type='text' placeholder='Enter your name')
  form(class='pure-form' id='chatForm')
    input(id='chatInput' type='text' placeholder='Enter a message')