@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600')

html
  height 100%

body
  font-family 'Open Sans',Helvetica,Arial,sans-serif
  height 100%
  margin 0
  padding 0

#wrap
  height 100%

.message-list-container
  height calc(100% - 20px)
  position relative
  
.message-list
  background-color #ccc
  list-style-type none
  margin 0
  padding 0
  height 100% 
  width 400px
  position absolute
  right 0
  overflow-y scroll

.message-list-item
  padding 2px
  margin 2px
  border-radius 3px
  border 1px solid #f1f1f1
  background-color #ddd

#chatInput
  width calc(100% - 400px)
  position absolute
  bottom 0
  left 0
  margin 0
  padding 0
  height 100px