template(name="ShapeTest")
  .example-details
    h4 Default Objects
    p Displays the various objects available for use in series data.
      | Drag to rotate earth.  Use mouse wheel to zoom.
      | Cubes, Cylinders and Cones remain at a fixed scale.
      | Pins and Flags scale relative to the camera distance.
      | Cubes are good if you need to map 1000s of data points.
    p
      a(
      href = 'https://github.com/looshi/worldview-examples/tree/master/client/examples/shape-tests'
      target= '_blank')
        | View source code on github

  .earth-view(id='ShapeTestContainer')